html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/*start styling events page */
#events-body{
  background-color: #092f76;
  color:white;
  font-size: normal;
}

#events-body p a{
color:#F5C13E;
text-decoration: underline;
}
/*end styling for events page */