div#__next {
  height: 100%; 
}
 
a {
  color: inherit;
  text-decoration: none;
}

section.section ul {
  list-style-type: disc;
}

.motto {
  font-size: 1rem;
  color: #F5C13E;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: bolder;
  letter-spacing: .2em;
}

.homeContent{
  margin-top: 1em;
  padding-bottom: 3em;
}
