.logo {
  cursor: pointer;
  transition: 0.5s;
}
.logo:hover {
  width: 120px;
  height: 120px;
}
.navMenu {
  color: #fff;
  text-decoration: underline #fff;
  font-weight: thick;
  text-decoration-thickness: 0.2em;

  transition: 0.3s;
}
.navMenu:hover {
  color: #f5c13e;
  text-decoration: underline #f5c13e;
  font-weight: bolder;
}
