.headerWrapper {
  width: 100%;
}

.logoImage {
  cursor: pointer;
}

.headerContent {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}
.imageWrapper {
  width: 15%;
  padding: 0.5em;
}
.rightHeader {
  width: 80%;
  display: flex;
  margin-left: 6em;
  justify-content: right;
}

.navbars {
  margin-top: 4.5em;
  margin-right: 2em;
  font-size: 18px;
  font-weight: bolder;
  transition: 0.3s;
  cursor: pointer;
}

.navbars:hover {
  color: #f5c13e;
  text-decoration: underline #f5c13e;
  border-bottom: 10px #f5c13e;
}

.navbars:active {
  color: #f5c13e;
}
