.navigationMenu {
  width: 100wh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #092f76;
}

.navigationLink {
  width: 12em;
  padding: 1em;
  transition: 1s;
  color: white;
  text-align: center;
  cursor: pointer;
}
.navigationLink:hover {
  background: #f5c13e;
}
